$puzzle-board-color: lightgreen;
$puzzle-content-color: white;
$base-item-width: 100px;

$tablet-width-intermediate: 1024px;
$tablet-width: 767px;
$mobile-width-intermediate: 575px;
$mobile-width: 320px;