.game-list {
  z-index: 3;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  transition: all 1s;
  &__item {
    color: black;
    margin: 1rem;
    border: 0.1rem solid black;
  }
  &__item:hover {
    background-color: $puzzle-content-color;
  }
}
