.game-list {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  &__item {
    color: $puzzle-content-color;
    margin: 1rem;
    padding: 1rem;
    border: 0.1rem solid $puzzle-content-color;
  }
  &__item:hover {
    background-color: $puzzle-content-color;
  }
}
