.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 20% 30%;
  font-size: 3.5rem;
  border: 0.1rem solid white;

  @include media-tablet-intermediate {
    font-size: 3rem;
  }

  @include media-tablet {
    margin: 30% 30%;
    font-size: 2.5rem;
  }

  @include media-mobile-intermediate {
    margin: 50% 30%;
    font-size: 1.6rem;
  }
  &-img {
    width: 3rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__item {
    margin: 1rem;
  }
  &_overlay {
    display: none;
    &-active {
      display: block;
      position: fixed;
      opacity: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 3;
      color: antiquewhite;
      cursor: pointer;
    }
  }
}
