.puzzle {
  background-color: $puzzle-content-color;
  border-radius: 1rem;
  border: 0.1rem solid black;
  &__info {
    font-size: 2.4rem;
    display: flex;
    justify-content: space-around;
  }

  &__content {
    position: relative;

    border: 0.1rem solid black;
    margin: auto;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.1rem solid black;
      font-size: 2.4rem;
      width: 10rem;
      height: 10rem;
      position: absolute;
      transition: all 0.4s;
      cursor: pointer;
      &-0 {
        border: 0.1rem solid black;
        transition: none;
        width: 10rem;
        height: 10rem;
        position: absolute;
      }
    }
  }
}
